@charset "utf-8";
/* CSS Document */

#contenedor #heder {
    height: 284px;
    background-color: #E40B0F;
    background-image: url(../imagenes/fondo_header.jpg);
}
#contenedor #contenedor_heder #heder{
	width: 1004px;
	height: 285px;
	
	margin-left: auto;
	margin-right: auto;
}
#contenedor_heder #heder #logo{
	width: 238px;
	height: 46px;
	padding-top: 37px;
	padding-left: 51px;
}
#contenedor_heder #heder #slogan{
	float: right; 
	padding-right: 65px;
}
#contenedor #menu_fondo{
	height: 33px;
	tockground-color: #3a86ff;
}
#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#menu li{
	float: left;
	padding: 2px;
	margin: 2px;
	border: 1px solid #3a86ff 
	
}
#menu li a {
	display: block;
	width: 160px;
	height: 65px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;
	text-align: center;
	font-family: 13px;
	color:antiquewhite; 
	background-color:dodgerblue;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	line-height: 5em;
}
#menu li a:hover{
	color:dodgerblue;
	background-color: dodgerblue;
	font-weight: bold;
	background-image: url(..imagenes/boton_web.jpg)
}
#menu li.actual a{
	color: dodgerblue;
	font-weight: bold;
	background: #2100CC
}

@media screen{
}
